@{
    ViewBag.Title = "Citrine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top:1.6rem">Citrine</h2>
<div class="d-flex">
    <div class="bg-rapidextext ">
        <div class="col-lg-4 col-md-4 col-sm-12 rapideximgdiv"><img class="rapideximg img-fluid" src=""></div>
        <div class="d-flex flex-column col-12">
            <div class="px-3 h-50" style="font-size:1.7em;white-space:normal; color:#ffe924">
                Modules of Retail Konnect
                <div class="mt-2 ml-3 mb-2" style="width:3.13rem; height:0.3rem; background-color:#fff924"></div>
            </div>
            <div class="align-self-center px-3">
                <ul>
                    <li class="citrine-text">Statuary License Management</li>
                    <li class="citrine-text">Petty Cash Management</li>
                    <li class="citrine-text">Fixed Asset Management</li>
                    <li class="citrine-text">Internal Communication</li>
                    <li class="citrine-text">Alterations/ Repairs</li>
                    <li class="citrine-text">Inventory Audit</li>
                    <li class="citrine-text">KPI’s</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section>
    <h1 style="text-align: center; color: #ffe924; margin-bottom:1.6rem; margin-top:1.6rem">Modules</h1>
    <div class="card-deck">

        <div class="cards" style="width:28rem">
            <div class=""><img src="~/Content/img/Licensemgmt.png" class="card-img-top" alt="card image" /></div>
            <div class="card-body">
                <h4 class="card-title">Statuary License Management</h4>
                <p class="card-text">
                    <ul>
                        <li class="citrine-text">Maintain all Trade and Statutory license Location wise</li>
                        <li class="citrine-text">Capture Images of the licenses</li>
                        <li class="citrine-text">Track the renewal of the licenses</li>
                        <li class="citrine-text">Reminders on the Renewal of Licenses Darsh</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="cards" style="width:28rem">
            <div class=""><img src="~/Content/img/Pettycash.jpg" class="card-img-top" alt="card image" /></div>
            <div class="card-body">
                <h4 class="card-title">Petty Cash Management</h4>
                <p class="card-text">
                    <ul>
                        <li class="citrine-text">Allot Imprest Money</li>
                        <li class="citrine-text">Expense Management</li>
                        <li class="citrine-text">Expense Limit</li>
                        <li class="citrine-text">Approval Mechanism</li>
                        <li class="citrine-text">Record Expenses</li>
                        <li class="citrine-text">Image Upload of Expenses</li>
                    </ul>
                </p>
            </div>
        </div>

        @*<div class="cards" style="width:400px">
                <img class="card-img-top" src="" alt="card image" />
                <div class="card-body">
                    <h4 class="card-title">Petty Cash Management</h4>
                    <p class="card-text">Allot Imprest Money</p>
                    <p class="card-text">Expense Management</p>
                    <p class="card-text">Expense Limit</p>
                    <p class="card-text">Approval Mechanism</p>
                    <p class="card-text">Record Expenses</p>
                    <p class="card-text">Image Upload of Expenses</p>
                </div>
            </div>*@

        <div class="cards" style="width: 28rem">
            <div class=""><img src="~/Content/img/Internalcommunication.jpg" class="card-img-top" alt="card image" /></div>
            <div class="card-body">
                <h4 class="card-title">Internal Communication</h4>
                <p class="card-text">
                    <ul>
                        <li class="citrine-text">Internal Ticketing system.</li>
                        <li class="citrine-text">Tickets can be raised to specific Departments and tracked i.e. IT, HR, Admin etc.</li>
                        <li class="citrine-text">Get the status of the tickets anytime with all its history.</li>
                        <li class="citrine-text">Attach relevant documents to support the tickets.</li>
                        <li class="citrine-text">Never miss on an important internal communication.</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="cards" style="width: 28rem">
            <div class=""><img src="~/Content/img/Alteration.png" class="card-img-top" alt="card image" /></div>
            <div class="card-body">
                <h4 class="card-title">Alterations/ Repairs</h4>
                <p class="card-text">
                    <ul>
                        <li class="citrine-text">Record customer Repairs into the system</li>
                        <li class="citrine-text">Attach images of the damaged products</li>
                        <li class="citrine-text">Approval Mechanism for further processing</li>
                        <li class="citrine-text">Tag the activity as a chargeable / non chargeable</li>
                        <li class="citrine-text">Option to route it to Job worker / warehouse</li>
                        <li class="citrine-text">Track it till the customer is given a replacement</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="cards" style="width: 28rem">
            <div class=""><img src="~/Content/img/Inventoryaudit.png" class="card-img-top" alt="card image" /></div>
            <div class="card-body">
                <h4 class="card-title">Inventory Audit</h4>
                <p class="card-text">
                    <ul>
                        <li class="citrine-text">Do Preventive audit at store</li>
                        <li class="citrine-text">Scan / upload barcodes into the system</li>
                        <li class="citrine-text">Option for perpetual audit</li>
                        <li class="citrine-text">Record variances, MIS for all previous audits</li>
                        <li class="citrine-text">Be notified of the possible discrepancies well in advance</li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</section>
<section>
<div class="reveal">
    <div class="bg-rapidextext">
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5"><img class="rapideximg  img-fluid" src="~/Content/img/Contactus.gif"></div>
        <div class="col-md-8 form col-sm-12 mt-5">
            <form action="" class="" id="my_form">

                <div class="p-3" style="border-radius: 5px; border: transparent; background-color: #f6b2d6; border-width: 3px">
                    <input type="text" class="mx-2 my-2" style="border-radius: 5px; border: solid; border-color: #7B0323; border-width: 3px; " id="txtname" name="name" placeholder="  Your name">

                    <input type="text" class="mx-2 my-2" style="border-radius: 5px; border: solid; border-color: #7B0323; border-width: 3px" id="txtemail" name="email" placeholder="  Email">

                    <input type="tel" class="mx-2 my-2" maxlength="10" style="border-radius: 5px; border: solid; border-color: #7B0323; border-width: 3px" id="txtphoneno" name="name" placeholder="  Phone Number">

                    <input type="text" class="mx-2 my-2" style="border-radius: 5px; border: solid; border-color: #7B0323; border-width: 3px" id="txtsubject" name="subject" placeholder="  Subject">

                    <input type="text" class="mx-2 my-2" style="border-radius: 5px; border: solid; border-color: #7B0323; border-width: 3px" id="txtcompanyname" name="companyname" placeholder="  Company Name">
                    <br />
                    <textarea id="txtmessage" class="mx-2 my-2" name="yourmessage" placeholder="   Your Message" style="height: 200px; width: 100%; border-radius: 5px; border: solid; border-color: #7B0323; border-width: 3px;"></textarea>
                    <br />
                    <div class="row bottom">
                        <input type="submit" class="ml-5 justify-content-end divKnowMore" id="submit" style="border-radius: 5px; border: solid; border-color: #7B0323; border-width: 3px; " value="Submit" onclick="submitForm()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
<script>
    window.addEventListener("scroll", reveal);

    function submitForm() {
        var frm = document.getElementsByName('my_form')[0];
        frm.reset();
        return false;
    };
    function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;

            if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
            } else {
                reveals[i].classList.remove("active");
            }
        }
    };
</script>
